### Assignment 1 code
# everyhting inside here
Assignment1/A1_Calibration/A1_Calibration_Code
# except
!Assignment1/A1_Calibration/A1_Calibration_Code/Calibration

### LaTeX stuff
# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output
*.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Log created by Adobe Reader
C:\\nppdf32Log\\debuglog.txt

# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace

### generic C++ stuff
# Prerequisites
*.d

# Compiled Object files (.obj excluded, we use those)
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


