# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\noort\Documents\1\TU\year_4\GEO1016_3D_computer_vision\Assignments\GEO1016_group10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
